.icon-file {
	background-image: url(../assets/icon/icon-file@24x24.png);
	height: 24px;
	width: 24px;
	display: inline-block;
	vertical-align: middle;
}

.other {
	background-position: 0px 0px;
}

.word {
	background-position: -36px 0;
}

.video {
	background-position: -71px 0;
}

.text {
	background-position: -108px 0;
}

.setting {
	background-position: -144px 0;
}

.ps {
	background-position: -179px 0;
}

.ppt {
	background-position: -215px 0;
}

.pic {
	background-position: -251px 0;
}

.dwg {
	background-position: -538px 36px
}

.pdf {
	background-position: -288px 0;
}

.music {
	background-position: -323px 0;
}

.font {
	background-position: -360px 0;
}

.html {
	background-position: -396px 0;
}

.exe {
	background-position: -431px 0;
}

.locks {
	background-position: -468px 0px;
}

.fl {
	background-position: -503px 0;
}

.cpp {
	background-position: -540px 0;
}

.iso {
	background-position: -576px 0;
}

.excel {
	background-position: -612px 0;
}

.id {
	background-position: -648px 0;
}

.au {
	background-position: -683px 0;
}

.apk {
	background-position: 0 -39px;
}

.svg {
	background-position: -36px -39px;
}

.zip {
	background-position: -71px -39px;
}

.folder_share {
	background-position: -294px -39px;
}

.folder_cloud {
	background-position: -458px -39px;
}

.cloud_share {
	background-position: -500px -39px;
}

.folder {
	background-position: -252px -39px;
	margin-right: 5px;
}

.ae {
	background-position: -108px -39px;
}

.3d {
	background-position: -143px -39px;
}

.ai {
	background-position: -178px -39px;
}

.folder_team {
	background-position: -336px -39px;
}

.el-anticon {
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: baseline;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
}
